XMLProject/xmlValidation/data/CCR001-Sample-Full-And-Valid.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:fsa-gov-uk:MER:CCR001:1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CCR001-FinancialData">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="BalanceSheetItems">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="TotalFundsOrCapital" type="xs:unsignedShort" />
              <xs:element name="IntangibleAssetsOrInvestments" type="xs:unsignedShort" />
              <xs:element name="SubordinatedDebtAndLoans" type="xs:unsignedShort" />
              <xs:element name="CurrentAssets">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Cash" type="xs:unsignedShort" />
                    <xs:element name="DebtorsOrOther" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CurrentLiabilities">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Creditors" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="LargestExposures">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Amount" type="xs:unsignedShort" />
                    <xs:element name="CounterpartyName" type="xs:string" />
                    <xs:element name="TypeOfExposure" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="IncomeStatement">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TotalIncome" type="xs:unsignedShort" />
              <xs:element name="RetainedProfit" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="units" type="xs:string" use="required" />
      <xs:attribute name="currency" type="xs:string" use="required" />
      <xs:attribute name="reportingBasis" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>